@import "tailwindcss";

@theme {
  --font-sans: "Helvetica Neue", Arial, sans-serif;
  --color-primary: #5B4BFF;
  --color-secondary: #F3F1FF;
  --color-accent: #FF6FAE;
  --color-app-bg: #f0eff5;
  --color-text-main: #1F2937;
}

body {
  background-color: var(--color-app-bg);
  color: var(--color-text-main);
  @apply font-sans;
}
